<% provide :title, t(".title") %>
<h1><%= t".t1" %></h1>
<p>
  <%= t".s1" %> <a href="http://www.railstutorial.org/"><em><%= t".l1" %></em></a><%= t".s2" %>
  <a href="http://www.railstutorial.org/book"><%= t".l2" %></a> <%= t".s3" %>
  <a href="http://screencasts.railstutorial.org/"><%= t".l3" %></a>
  <%= t".s4" %>
  <a href="http://rubyonrails.org/"><%= t".l4" %></a>.
  <%= t".s5" %>
</p>
