<% provide :title,t(".title") %>
<h1><%= t".t1"%></h1>
<p>
  <%= t".s1"%>
  <a href="http://www.railstutorial.org/help"><%= t".l1"%></a>.
  <%= t".s2"%>
  <a href="http://www.railstutorial.org/book"><em><%= t".l2"%></em>
  <%= t".s3"%></a>
</p>
