<footer class="footer">
  <small>
    <%= t ".s1" %> <a href="http://www.railstutorial.org/"><%= t ".l1" %></a>
    <%= t ".b" %> <a href="http://www.michaelhartl.com/"><%= t ".mh" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".ab"), about_path %></li>
      <li><%= link_to t(".ct"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".s2" %></a></li>
    </ul>
  </nav>
</footer>
